@font-face {
    font-family: sourcesans;
    src: url(../sheets/SourceSansPro-Regular.ttf)
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 55vw;
    height: 45vh;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 11px 3px silver;
    background-color: rgb(235, 245, 255);
}

.image-box{
    width: 100%;
    margin: 0 5px;
}

.image-box__item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 100px;
}

.image-box__item_active{
    display: block;
    padding: 10px;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
}

.nav__item{
    margin: 5px 0;
    padding: 10px 20px;

    font-size: 1.2em;
    font-family: sourcesans;
    text-align: center;

    cursor: pointer;

    border-bottom: 2px solid rgb(202, 202, 202);
}

.nav__item_active{
    background-color:blueviolet;
    color:white;
}

.tab-header__item_active{
    background-color: rgb(0, 110, 255);
    color:white;
}

h2{
    text-align: center;
    font-weight: normal;
}
